<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IGestionUsuarios">
                    <reliableSession enabled="true"/>
                    <security mode="None">
                        <transport sslProtocols="None"/>
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8000/ServiceImplementation/Service" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGestionUsuarios" contract="ServicioLenguaViva.IGestionUsuarios" name="NetTcpBinding_IGestionUsuarios"/>
        </client>
    </system.serviceModel>
</configuration>
