<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<system.serviceModel>
		<bindings>
   <netTcpBinding>
    <binding name="NetTcpBinding_IGestionUsuarios">
     <reliableSession enabled="true" />
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
	   <binding name="NetTcpBinding_IGestionCursos"
			maxReceivedMessageSize="5242880"
			maxBufferSize="5242880"
			maxBufferPoolSize="5242880">
		   <readerQuotas maxDepth="32"
						 maxStringContentLength="5242880"
						 maxArrayLength="5242880"
						 maxBytesPerRead="4096"
						 maxNameTableCharCount="5242880" />
		   <reliableSession enabled="true" />
		   <security mode="None">
			   <transport sslProtocols="None" />
		   </security>
	   </binding>
    <binding name="NetTcpBinding_IGestionAlumnos">
     <reliableSession enabled="true" />
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IGestionReportes">
     <reliableSession enabled="true" />
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IGestionAlumnos1">
     <reliableSession enabled="true" />
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
		<client>
   <endpoint address="net.tcp://localhost:8000/ServiceImplementation/Service"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGestionUsuarios"
    contract="ServicioLenguaViva.IGestionUsuarios" name="NetTcpBinding_IGestionUsuarios" />
   <endpoint address="net.tcp://localhost:8000/ServiceImplementation/Service"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGestionReportes"
    contract="ServicioLenguaViva.IGestionReportes" name="NetTcpBinding_IGestionReportes" />
   <endpoint address="net.tcp://localhost:8000/ServiceImplementation/ServicioGestionCursos"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGestionCursos"
    contract="ServicioLenguaViva.IGestionCursos" name="NetTcpBinding_IGestionCursos" />
   <endpoint address="net.tcp://localhost:8000/ServiceImplementation/ServicioGestionAlumnos"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGestionAlumnos"
    contract="ServicioLenguaViva.IGestionAlumnos" name="NetTcpBinding_IGestionAlumnos" />
  </client>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
